uvicorn==0.29.0
python-multipart==0.0.9
fastapi==0.111.0
fastapi-cli==0.0.2
pytesseract==0.3.10
PyMuPDF==1.24.2
pillow==10.3.0
numpy==1.26.4
opencv-python==4.9.0.80
pdfplumber~=0.11.0
fitz
spacy~=3.7.4
sklearn
langdetect~=1.0.9
PyAutoGUI~=0.9.54
openai~=1.28.1
PyPDF2~=3.0.1
scikit-learn~=1.4.2
joblib~=1.4.2
pandas~=2.2.2
autocorrect~=2.6.1
easyocr~=1.7.1
matplotlib~=3.9.0